<mat-toolbar style="background-color: #023047 ; height: 11%" >
  <a style="margin-left: 3%; cursor: pointer" ref="#"><img src="../../../../assets/homeguardians_logo2.png" width="85px"></a>
</mat-toolbar>
<div class="structure">
  <mat-card class="form" style="width: 1000px !important;">
    <mat-card-content>
      <div class="user-info">
        <section>
          <mat-label style="font-size: 17px">Seleccione el tipo de usuario a crear</mat-label>
          <div class="user-options">
            <button mat-button id="btn" (click)="goToRegisterKeeper();">Keeper</button>
            <button mat-button id="btn" class="active">Traveller</button>
          </div>
        </section>
        <br>
        <mat-label style="text-align: center; font-size: 30px"><b>Registrate</b></mat-label>
        <br><br>
        <mat-label style="text-align: left; font-size: 15px; color: white">Ingrese la información solicitada</mat-label>
        <br>
        <mat-label style="text-align: left">Nombres:</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="name" type="text" placeholder="Nombres" class="input">
        </mat-form-field>

        <mat-label style="text-align: left">Apellidos:</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="lastName" type="text" placeholder="Apellidos" class="input">
        </mat-form-field>

        <mat-label style="text-align:left">Fecha de Nacimiento:</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="birthdate" type="date" class="input">
        </mat-form-field>

        <mat-label style="text-align:left">Teléfono:</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="phone" type="number" placeholder="Teléfono" class="input">
        </mat-form-field>

        <mat-label style="text-align:left">Correo:</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="email" type="text" placeholder="Correo electrónico" class="input">
        </mat-form-field>

        <mat-label style="text-align:left">Contraseña:</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="password" type="password" placeholder="Contraseña" class="input">
        </mat-form-field>

        <mat-label style="text-align:left">Repetir Contraseña:</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="repeat_password" type="password" placeholder="Contraseña" class="input">
        </mat-form-field>
        <button mat-button style="color: #011530; background-color: #ffb703;  font-size: 18px;font-weight: bold;" class="submit-button" (click)="goToLogin();">Finalizar registro de Traveller</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

