<mat-toolbar style="background-color: #023047 ; height: 11%" class="toolbar">
  <a ref="/login"><img src="../../../../../assets/homeguardians_logo2.png" style="cursor: pointer;margin-left: 19%; margin-top: 12%; padding: 14px" width="80px"></a>
  <div class="menu-options">
    <a class="button-menu" mat-button (click)="goToKeeper()">INICIO</a>
    <a class="button-menu" mat-button>BUSCAR CASAS</a>
    <a class="button-menu" mat-button (click)="goToMessenger();">MENSAJERIA</a>
    <a class="button-menu" mat-button (click)="goToProfile();"><img src="https://i.postimg.cc/Fs9Z3g3V/usuario-1.png" style="width: 3em;" ></a>
  </div>
</mat-toolbar>

<div style="margin-top: 5%" class="form-filter">
  <mat-card class="filter">
    <mat-card-header>
      <mat-card-title class="title">ENCUENTRA UNA CASA </mat-card-title>
    </mat-card-header>
    <mat-card-content class="subtitle">
      <div class="form-fields">
        <div class="form-field">
          <mat-card-subtitle>País</mat-card-subtitle>
          <mat-form-field>
            <input matInput placeholder="Escribe.." [(ngModel)]="pais">
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-card-subtitle>Ciudad</mat-card-subtitle>
          <mat-form-field>
            <input matInput placeholder="Escribe.." [(ngModel)]="ciudad">
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-card-subtitle>Dirección</mat-card-subtitle>
          <mat-form-field>
            <input matInput placeholder="Escribe.." [(ngModel)]="direccion">
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-card-subtitle>Precio</mat-card-subtitle>
          <mat-form-field>
            <input matInput type="number" placeholder="Escribe.." [(ngModel)]="precio">
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-card-subtitle>Cantidad de personas</mat-card-subtitle>
          <mat-form-field>
            <input matInput type="number" placeholder="Escribe.." [(ngModel)]="capacidad">
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-card-subtitle>Cantidad de estrellas</mat-card-subtitle>
          <mat-form-field>
            <input matInput type="number" placeholder="Escribe.." [(ngModel)]="estrellas">
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="form-buttons">
        <button mat-button style="color: black; background-color: #ffb703" class="button" (click)="onFilter()">Filtrar</button>
        <button mat-button style="color: black; background-color:#ffb703" class="button" (click)="toReset()">Cancelar</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="examples-cards">
  <div *ngFor="let house of Houses">
    <mat-card class="example-data">
      <mat-card-content>
        <img [src]="house.photoUrl" alt="Image of the house" width="280px"><br>
        <label>{{house.country}} - {{house.city}} - {{house.streetAddress}}</label><br>
        <label>{{house.price}}</label><br>
        <label>Capacidad máxima de {{house.capacity}} personas</label><br>
        <label>{{house.rating}} estrellas</label>
      </mat-card-content>
    </mat-card>
  </div>
</div>
