.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: #14131B;
}

.toolbar a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  color: #ffb703;
}

.toolbar a:hover {
  background-color: #ffb703;
  color: #023047;
  border-radius: 13px;

}

.mat-card-header{
  text-align: center;
  align-content: center;
}

.title{
  display:flex;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  align-content: center;
  justify-content: center;
}

.subtitle{
  align-content: center;
  text-align: center;
}

.form-filter{
  display: flex;
  justify-content: center;
  width: 100%;
}

.filter{
  display:flex;
  width: 1000px;
  border:0;
  justify-content: center;
}

.examples-cards{
  display: flex;
  flex-wrap: wrap;
}

.example-data{
  background: lightskyblue;
  padding: 5px;
  max-width: 400px;
  max-height: 500px;
  margin: 10px;

  line-height: 35px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.example-data img {
  max-width: 300px;
  max-height: 200px;
}

.menu-options{
  display: flex;
  gap: 20px;
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-field {
  flex: 1;
  max-width: 25%;
  margin-right: 5px;
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.button {
  margin: 0 10%;
  padding: 10px 20px;
  font-size: 16px;
}
