<mat-toolbar style="background-color: #023047 ; height: 11%" class="toolbar"> <!-- #5c55e1 #00BFFF-->
  <a ref="/login"><img src="../../../../assets/homeguardians_logo2.png" style="cursor: pointer;margin-left: 19%; margin-top: 12%; padding: 14px" width="80px"></a>
  <div class="menu-options">
    <a mat-button href="#about-us">ABOUT</a>
    <a mat-button href="#services">SERVICES</a>
    <a mat-button href="#plans">PLANS</a>
    <a mat-button href="#team">TEAM</a>
    <a mat-button href="#contact"> CONTACT</a>
    <a mat-button id="bot-sig" [routerLink]="'/sign-in'">SIGN-IN</a>
    <a mat-button id="bot-sig" [routerLink]="'/register-keeper'">SIGN-UP</a>

    <mat-divider [vertical] ="true" [inset]="true"></mat-divider>

  </div>
</mat-toolbar>


<router-outlet></router-outlet>
<section class="home" id="home">
  <a mat-button (click)="goToLogin()" [ngClass]="{'try-now': true}"><strong>TRY IT NOW</strong></a>
</section>

<section style="background-color: #011530;" class="about-us" id="about-us">
  <div class="about-content">
    <h1 class="title">About Us</h1>
    <div class="about-details">
      <div class="about-text">
        <p>HousseKeeper es una aplicación de "Cuidado de casas", donde habrá un intercambio con beneficio mutuo: una persona se hace responsable de cuidar una casa mientras sus propietarios están de viaje. Lo que tendrás que hacer dependerá del propietario de la casa. Algunos te pedirán que sólo cuides de los animales, otros que cuides de la casa (limpies y vigiles), también pueden pedirte que te hagas cargo de los gastos que generes de luz y agua. Es un trabajo voluntario y ofreces tus servicios a cambio de una vivienda, y todos los gastos personales correrán por cuenta de cada uno.</p>
      </div>
    </div>
  </div>
  <div class="about-image"><div  id="home-init" class="carousel-container">
    <div class="left">
      <button mat-icon-button class="prev" (click)="prevSlide()">
        <mat-icon><strong>keyboard_arrow_left</strong></mat-icon>
      </button>
    </div>
    <div *ngFor="let slide of visibleSlides; let i = index" class="slide">
      <mat-card class="card">
        <div class="image-container">
          <img [src]="slide.imageUrl" [alt]="slide.title">
        </div>
      </mat-card>
    </div>
    <div class="right">
      <button mat-icon-button class="next" (click)="nextSlide()">
        <mat-icon><strong>keyboard_arrow_right</strong></mat-icon>
      </button>
    </div>
    <div class="dots">
          <span *ngFor="let slide of slides.slice(0, 4); let i = index" class="dot" [class.active]="currentSlide === i"
                (click)="goToSlide(i)"></span>
    </div>
  </div></div>
</section>

<section class="services" id="services">
  <h1 style="margin-top: 6%" class="title">Services</h1>
  <div style="margin-top: -3%; " class="card-container">
    <div class="card">
      <img src="https://i.imgur.com/aKj3Zqx.png" alt="Imagen 1">
      <div class="card-content">
        <h2>Service Keeper</h2>
        <p>Enter information you want to share with your guests about the food hall, as well as table reservation options and/or room service with personalized dishes</p>
        <button class="read-more">Read More</button>
      </div>
    </div>
    <div class="card">
      <img src="https://i.imgur.com/MwHuMZc.png" alt="Imagen 2">
      <div class="card-content">
        <h2>Service Traveler</h2>
        <p> Connect the room maintenance service with your guests to simplify their demands and guarantee profits and good service from the caretakers</p>
        <button class="read-more">Read More</button>
      </div>
    </div>
    <div class="card">
      <img src="assets/travel-service.jpeg" alt="Imagen 1" width="100%">
      <div class="card-content">
        <h2>Service Keeper</h2>
        <p>Enter information you want to share with your guests about the food hall, as well as table reservation options and/or room service with personalized dishes</p>
        <button class="read-more">Read More</button>
      </div>
    </div>
    <div class="card">
      <img src="assets/keeper-service.jpg" alt="Imagen 2" width="100%">
      <div class="card-content">
        <h2>Service Traveler</h2>
        <p>Connect the room maintenance service with your guests to simplify their demands</p>
        <button class="read-more">Read More</button>
      </div>
    </div>
  </div>
</section>

<section class="plans" id="plans">
  <h1 class="title">Elige un Plan</h1>
  <div class="card-containers">
    <div class="cards standard">
      <div class="stripe"></div>
      <div class="cards-content">
        <h2>Standard</h2>
        <p>Manage up to 30 rooms</p>
        <p><strong style="font-size: 28px;line-height: 1.8;">S/. 150</strong> per month</p>
        <button class="subscribe">Subscribe</button>
      </div>
    </div>
    <div class="cards pro">
      <div class="stripe"></div>
      <div class="card-content">
        <h2>Pro</h2>
        <p>Manage up to 50 rooms</p>
        <p><strong style="font-size: 28px;line-height: 1.8;">S/. 250</strong> per month</p>
        <button class="subscribe">Subscribe</button>
      </div>
    </div>
    <div class="cards premium">
      <div class="stripe"></div>
      <div class="card-content">
        <h2>Premium</h2>
        <p>Manage unlimited rooms</p>
        <p><strong style="font-size: 28px;line-height: 1.8;">S/. 400</strong> per month</p>
        <button class="subscribe">Subscribe</button>
      </div>
    </div>
    <div class="cards custom">
      <div class="stripe"></div>
      <div class="card-content">
        <h2>Custom Plan</h2>
        <p>Manage a custom number of rooms</p>
        <h3 class="rooms">15 rooms</h3>
        <p>Prices start from S/. 6.50 per room</p>
        <h3 class="total">S/. 97.50</h3>
        <button class="subscribe">Subscribe</button>
      </div>
    </div>
  </div>
</section>


<section class="our-team" id="team">
        <div class="team-content">
            <h1 class="title">Our Team</h1>
            <div class="team-row">
                <div class="team-member">
                    <div class="member-image">
                        <img src="../../../../assets/Anthony.png" alt="Anthony Samir Nuñez Martinez">
                    </div>
                    <div class="member-details">
                        <p><strong>Anthony Samir<br> Nuñez Martinez</strong></p>
                        <p>Software Engineering Student</p>
                    </div>
                </div>
                <div class="team-member">
                    <div class="member-image">
                        <img src="../../../../assets/Wilfredo.jpg" alt="Wilfredo Futuro Illa">
                    </div>
                    <div class="member-details">
                        <p><strong>Wilfredo<br> Futuro Illa</strong></p>
                        <p>Software Engineering Student</p>
                    </div>
                </div>
                <div class="team-member">
                    <div class="member-image">
                        <img src="../../../../assets/Rut.png" alt="Jesica Rut Jaramillo Almora">
                    </div>
                    <div class="member-details">
                        <p><strong>Jesica Rut<br> Jaramillo Almora</strong></p>
                        <p>Software Engineering Student</p>
                    </div>
                </div>
                <div class="team-member">
                    <div class="member-image">
                        <img src="../../../../assets/Leonardo_Ferreyra.png" alt="Leonardo Jesús Ferreyra Canaval">
                    </div>
                    <div class="member-details">
                        <p><strong>Leonardo Jesús<br> Ferreyra Canaval</strong></p>
                        <p>Software Engineering Student</p>
                    </div>
                </div>
                <div class="team-member">
                    <div class="member-image">
                        <img src="../../../../assets/Victor.jpg" alt="Victor Yordi Diaz Gonzalez">
                    </div>
                    <div class="member-details">
                        <p><strong>Victor Yordi<br>Diaz Gonzalez</strong></p>
                        <p>Software Engineering Student</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="contact" id="contact">
  <div class="contact-content">
    <h1 class="title">Contact</h1>
    <div class="contact-rectangle">
      <div class="contact-form">
        <input type="text" placeholder="Name" style="width: 80%; margin: 10px auto;">
        <input type="email" placeholder="Email" style="width: 80%; margin: 10px auto;">
        <textarea placeholder="Message" style="width: 80%; margin: 10px auto;"></textarea>
        <button class="send-button" style="width: 70%; margin: 10px auto;">Send</button>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="footer">
  <div class="footer-content">
    <div class="footer-row">
      <div class="footer-column">
        <h3>About Us</h3>
        <p>Learn more about our mission and values.</p>
        <p><a href="#about">Our Story</a></p>
        <p><a href="#team">Meet the Team</a></p>
        <p><a href="#careers">Careers</a></p>
      </div>
      <div class="footer-column">
        <h3>Support</h3>
        <p><a href="#contact">Contact Us</a></p>
        <p><a href="#faq">FAQ</a></p>
        <p><a href="#terms">Terms of Service</a></p>
        <p><a href="#privacy">Privacy Policy</a></p>
      </div>
      <div class="footer-column">
        <h3>Stay Connected</h3>
        <p>Follow us on social media and stay updated with our latest news.</p>
        <div class="social-icon">
          <a href="#contact"><img src="https://i.imgur.com/Gvnum7B.png" alt="Facebook"></a>
          <a href="#contact"><img src="https://i.imgur.com/GKcSCPU.png" alt="LinkedIn"></a>
          <a href="#contact"><img src="https://i.imgur.com/Y2GoZQW.png" alt="Twitter"></a>
          <a href="#contact"><img src="https://i.imgur.com/ZMMMTo2.png" alt="Google+"></a>
          <a href="#contact"><img src="https://i.imgur.com/bzQNl3V.png" alt="Instagram"></a>
        </div>
      </div>
    </div>
    <div class="footer-row">
      <div style="font-size: 20px; color: white" class="footer-item1">&copy;<a href="#" style="color: white; text-decoration: none"> HousseKeeper 2023 All Rights Reserved</a></div>
    </div>
  </div>
</footer>
