.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: #14131B;
}

.toolbar a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  color: #ffb703;
}

.toolbar a:hover {
  background-color: #ffb703;
  color: #023047;
  border-radius: 13px;

}

.menu-options{
  display: flex;
  gap: 20px;
}


.mensajeria-container {
  display: flex;
  align-items: center;
}

.mensajeria-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
