<mat-toolbar style="background-color: #023047 ; height: 11%" class="toolbar">
  <a ref="/login"><img src="../../../../../assets/homeguardians_logo2.png" style="cursor: pointer;margin-left: 19%; margin-top: 12%; padding: 14px" width="80px"></a>
  <div class="menu-options">
    <a class="button-menu" mat-button (click)="goToKeeper();">INICIO</a>
    <a class="button-menu" mat-button (click)="goToFindHouse();">BUSCAR CASAS</a>
    <a class="button-menu" mat-button>MENSAJERIA</a>
    <a class="button-menu" mat-button (click)="goToProfile();"><img src="https://i.postimg.cc/Fs9Z3g3V/usuario-1.png" style="width: 3em;" ></a>
  </div>
</mat-toolbar>
<div class="messenger-environment">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Chats Disponibles</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="card-container">
        <div *ngFor="let mensajeria of mensaje">
          <div class="mensajeria-container">
            <img src="{{ mensajeria.photoFace }}" alt="{{ mensajeria.nombre }}" class="mensajeria-photo">
            <div class="mensajeria-content">
              <h2 class="mensajeria-title">{{ mensajeria.nombre }}</h2>
              <p class="mensajeria-description">{{ mensajeria.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
