<mat-toolbar style="background-color: #023047; height: 13%">
  <a style="margin-left: 3%; cursor: pointer" ref="#"><img src="../../../../assets/homeguardians_logo2.png"
                                                           width="85px"></a>
</mat-toolbar>
<div class="structure">
  <mat-card class="form" style="width: 1000px !important;">
    <mat-card-content>
        <div class="user-info">
          <section>
            <mat-label style="font-size: 17px">Seleccione el tipo de usuario para ingresar</mat-label>
            <div class="user-options">
              <button mat-button id="btn" [class.active]="selectedUserType === 'keeper'"
                      (click)="selectUserType('keeper')">Keeper
              </button>
              <button mat-button id="btn" [class.active]="selectedUserType === 'traveller'"
                      (click)="selectUserType('traveller')">Traveller
              </button>
            </div>
          </section>
          <br>
          <mat-label style="text-align: center; font-size: 30px"><b>Ingrese a su cuenta</b></mat-label>

          <br>
          <mat-form-field>
            <input matInput [(ngModel)]="correo_electronico" type="text" placeholder="Correo electrónico" class="input">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="contrasena" type="text" placeholder="Contraseña" class="input">
          </mat-form-field>
          <button mat-button style="color: #011530; background-color: #ffb703;  font-size: 18px;font-weight: bold;" class="submit-button" (click)="login();">Ingresar</button>
          <br><br>
          <div>
            <mat-label style="text-align: left; font-size: 15px">¿Todavía no te has registrado?</mat-label>
            <button mat-button class="crear" (click)="goToRegister();" style="color: white">Crear cuenta</button>
          </div>
        </div>

    </mat-card-content>
  </mat-card>
</div>
